{% extends 'base.html' %}

{% block main %}
<div class="lr-container">
  <div class="left">
      <video class="lr-vid" src="{{ url_for('static', filename='images/homepage.mp4') }}" autoplay muted loop></video>
  </div>
  <div class="right">
    <h3 class="login-heading">Login</h3>
    <div class="login-form">
      <form action="{{ url_for('login') }}" method="post" enctype=multipart/form-data>
        {{ form.csrf_token }}
        {% include 'flash_messages.html' %}
        <p class="login-intro">Hey, sign in and start editing today</p>
        <!-- Username input with icon -->
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" name="username" id="username" class="form-control" placeholder="Username">
      </div>

      <!-- Password input with icon -->
      <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-lock"></i></span>
          </div>
          <input type="password" name="password" id="password" class="form-control" placeholder="Password">
      </div>

        <button class="btn btn-lg btn-primary w-100 mt-4" id="login-btn" type="submit">Login</button>
        <p>Don't have an account? <a href="/register">Sign up</a> </p>
      </form>
    </div>
  </div>
</div>
{% endblock %}